@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
    margin: 0 auto;
    padding: 0;
}
.NavarContainer {
background-color: #566573;
width: 100%;
display: inline-flex;
justify-content: center;
height: 5rem;
box-shadow: 0em 0.18em 0.3em 0em #ebedef;
}

.NavarContainer__Text {
    font-family: "Poetsen One", sans-serif;
    font-size: 2em;
    padding: 1.4rem;
    color: #eaecee;
}

.NavarContainer__Menu {
    display: inline-flex;
}

.NavarContainer__Menu--item {
    list-style: none;
    color: #eaecee;
    font-family: "Poetsen One", sans-serif;
    font-size: 1.5em;
    padding: 1.4rem;
    cursor: pointer;
}
.NavarContainer__Menu--item:hover {
cursor: pointer;
color:  #85c1e9;
}